.address-content {
    display: flex;
    flex-direction: column;
    margin: 3% 0 3%;
    font-size: 20px;
    width: 100%;
}

.address-content .address-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    width: 100%;
}

.address-content .address-field .address-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}

.address-content .address-field .address-info .user-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.address-content .address-field .address-info .user-info .receiver-name {
    border-right: 2px solid rgb(224, 224, 224);
    padding: 1% 15% 1% 0;
}

.address-content .address-field .address-info .user-info .tel {
    padding: 1% 0 1% 5%;
}

.address-content .address-field .address-info .user-address {
    margin: 2% 0 2%;
    width: 100%;
    word-wrap: break-word
}

.address-content .address-field .address-editor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;

}

.address-content .address-field .address-editor .edit-choice {
    display: flex;
    flex-direction: row;
    
}

.address-editor .edit-choice u.edit {
    margin-right: 10px;
    color: rgb(117, 172, 255);
    cursor: pointer;
}

.address-editor .edit-choice u.delete {
    margin-left: 10px;
    color: rgb(117, 172, 255);
    cursor: pointer;
}

.address-content .address-field .address-editor .set-default {
    display: none;
    border: 2px solid rgb(224, 224, 224);
    background-color: rgb(255, 255, 255);
    color: rgb(224, 224, 224);
    padding: 1% 5% 1%;
}

.address-content .user-address-line {
    width: 100%;
    height: 2px;
    background-color: rgb(224, 224, 224);
}