#main-profile, #wrapper{
    position: relative;
    max-width: 100%;
}
#main-profile{
    max-width: 70%;
    margin: 0 auto;
}


.myprofile{
    max-width: 100px;
   
}
.user-info{
    display: flex;
    flex-direction: column;
}
.myprofile-container {
    display: flex;
    justify-content: center;
    align-items: center;
/* Adjust as needed */
  }
