.image-slider {
    width: 80%;
    margin-left: 18px;
    text-align: center;
  }
  .image-slider .slick-dots {
    bottom: -30px;
  }
  .image-slider img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
.pos{
    border-radius: 20px;
}