@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');

* {
    font-family: 'Prompt', sans-serif !important;
}

.content-wrappper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    width: 22%;
    background-color: rgb(255, 255, 255);
    
}

.sidebtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid rgb(148, 148, 148);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-size: 120%;
    padding: 2% 1% 2%;
}

.home {
    margin: 10% 20% 1% 20%;
    
}

.showcase {
    margin: 3% 20% 3% 20%;
    
}

.sell {
    margin: 1% 20% 10% 20%;
    
}

img {
    margin-left: 10%;
    margin-right: 5%;
}

.main-content {
    width: 56%;
    background-color: rgb(255, 255, 255);
    
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    margin: 1% 0 1% 0;
}

.add-btn {
    
    border: 0;
    border-radius: 5px;
    background-color: rgb(174, 206, 255);
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 15%;
    height: 5%;
    padding: 1% 2% 1%;
    
}

.add-btn img {
    width: 25px;
    height: 25px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: rgb(148, 148, 148);
}

/* สำหรับเอาไปทำ component */
.adress-content {
    display: flex;
    flex-direction: column;
    margin: 3% 0 3%;
    font-size: 20px;
}

.address-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address-info {
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.receiver-name {
    border-right: 2px solid rgb(148, 148, 148);
    padding: 1% 15% 1% 0;
}

.tel {
    padding: 1% 0 1% 5%;
}

.user-address {
    margin: 2% 0 2%;
}

.address-editor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;

}

.edit-choice {
    display: flex;
    flex-direction: row;
    
}

u.edit {
    margin-right: 10px;
    color: rgb(117, 172, 255);
}

u.delete {
    margin-left: 10px;
    color: rgb(117, 172, 255);
}

.set-default {
    border: 2px solid rgb(148, 148, 148);
    background-color: rgb(255, 255, 255);
    color: rgb(148, 148, 148);
    padding: 1% 5% 1%;
}

.address-status {

    margin: 2% 0 2%;
}

.address-status strong {
    border: 2px solid rgb(117, 172, 255);
    color: rgb(117, 172, 255);
    font-size: 15px;
    padding: 0.5% 1% 0.5%;
}
/* ถึงตรงนี้ */

.space-content {
    width: 22%;
    background-color: rgb(255, 255, 255);
    
}