
.btn-menu-lopgin-l1 {
    background: #E1E1E1;
    color: #4636fc;
    padding: 20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 0;
    font-size: 20px;
}

.btn-menu-lopgin-R1 {
    background: #4636fc;
    color: #fff;
    
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 0;
      padding: 20px;  
    font-size: 20px;
}
