
.btn-menu-lopgin-l1 {
    background: #E1E1E1;
    color: #4636fc;
    padding: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 0;
    font-size: 1em;
}
.btn-menu-lopgin-R1 {
    background: #4636fc;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 0;
    font-size: 1em;
}
